In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [92]:
df=pd.read_csv('data.csv')

In [93]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [94]:
df.nunique()

name             1491
year               27
selling_price     445
km_driven         770
fuel                5
seller_type         3
transmission        2
owner               5
dtype: int64

In [95]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [96]:
df=pd.get_dummies(df, columns=['fuel', 'transmission', 'seller_type'])

In [97]:
df.head()

,name,year,selling_price,km_driven,owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer
0,Maruti 800 AC,2007,60000,70000,First Owner,False,False,False,False,True,False,True,False,True,False
1,Maruti Wagon R LXI Minor,2007,135000,50000,First Owner,False,False,False,False,True,False,True,False,True,False
2,Hyundai Verna 1.6 SX,2012,600000,100000,First Owner,False,True,False,False,False,False,True,False,True,False
3,Datsun RediGO T Option,2017,250000,46000,First Owner,False,False,False,False,True,False,True,False,True,False
4,Honda Amaze VX i-DTEC,2014,450000,141000,Second Owner,False,True,False,False,False,False,True,False,True,False

In [98]:
df['fuel_CNG']=df['fuel_CNG'].astype(int)
df['fuel_Diesel']=df['fuel_Diesel'].astype(int)
df['fuel_Electric']=df['fuel_Electric'].astype(int)
df['fuel_LPG']=df['fuel_LPG'].astype(int)
df['fuel_Petrol']=df['fuel_Petrol'].astype(int)
df['transmission_Automatic']=df['transmission_Automatic'].astype(int)
df['transmission_Manual']=df['transmission_Manual'].astype(int)
df['seller_type_Individual']=df['seller_type_Individual'].astype(int)
df['seller_type_Dealer']=df['seller_type_Dealer'].astype(int)
df['seller_type_Trustmark Dealer']=df['seller_type_Trustmark Dealer'].astype(int)

In [99]:
df

,name,year,selling_price,km_driven,owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer
0,Maruti 800 AC,2007,60000,70000,First Owner,0,0,0,0,1,0,1,0,1,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,First Owner,0,0,0,0,1,0,1,0,1,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,First Owner,0,1,0,0,0,0,1,0,1,0
3,Datsun RediGO T Option,2017,250000,46000,First Owner,0,0,0,0,1,0,1,0,1,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,Second Owner,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Second Owner,0,1,0,0,0,0,1,0,1,0
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Second Owner,0,1,0,0,0,0,1,0,1,0
4337,Maruti 800 AC BSIII,2009,110000,83000,Second Owner,0,0,0,0,1,0,1,0,1,0
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,First Owner,0,1,0,0,0,0,1,0,1,0
4339,Renault KWID RXT,2016,225000,40000,First Owner,0,0,0,0,1,0,1,0,1,0

In [100]:
df['owner']=df['owner'].map({
    'First Owner': 1,
    'Second Owner': 2,
    'Third Owner': 3,
    'Fourth & Above Owner': 4
})

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          4340 non-null   object
 1   year                          4340 non-null   int64
 2   selling_price                 4340 non-null   int64
 3   km_driven                     4340 non-null   int64
 4   owner                         4323 non-null   float64
 5   fuel_CNG                      4340 non-null   int64
 6   fuel_Diesel                   4340 non-null   int64
 7   fuel_Electric                 4340 non-null   int64
 8   fuel_LPG                      4340 non-null   int64
 9   fuel_Petrol                   4340 non-null   int64
 10  transmission_Automatic        4340 non-null   int64
 11  transmission_Manual           4340 non-null   int64
 12  seller_type_Dealer            4340 non-null   int64
 13  seller_type_Individual        4340 non-null   int64
 14  seller_type_Trustmark Dealer  4340 non-null   int64
dtypes: float64(1), int64(13), object(1)
memory usage: 508.7+ KB

In [102]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['km_driven'] = scaler.fit_transform(df[['km_driven']])

In [103]:
df

,name,year,selling_price,km_driven,owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer
0,Maruti 800 AC,2007,60000,0.081139,1.0,0,0,0,0,1,0,1,0,1,0
1,Maruti Wagon R LXI Minor,2007,135000,-0.347689,1.0,0,0,0,0,1,0,1,0,1,0
2,Hyundai Verna 1.6 SX,2012,600000,0.724381,1.0,0,1,0,0,0,0,1,0,1,0
3,Datsun RediGO T Option,2017,250000,-0.433455,1.0,0,0,0,0,1,0,1,0,1,0
4,Honda Amaze VX i-DTEC,2014,450000,1.603479,2.0,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,0.295553,2.0,0,1,0,0,0,0,1,0,1,0
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,0.295553,2.0,0,1,0,0,0,0,1,0,1,0
4337,Maruti 800 AC BSIII,2009,110000,0.359877,2.0,0,0,0,0,1,0,1,0,1,0
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,0.509967,1.0,0,1,0,0,0,0,1,0,1,0
4339,Renault KWID RXT,2016,225000,-0.562103,1.0,0,0,0,0,1,0,1,0,1,0

In [104]:
df['owner']

0       1.0
1       1.0
2       1.0
3       1.0
4       2.0
       ...
4335    2.0
4336    2.0
4337    2.0
4338    1.0
4339    1.0
Name: owner, Length: 4340, dtype: float64

In [105]:
x= df.drop(['name', 'selling_price'], axis=1)
y= df['selling_price']

In [106]:
x

,year,km_driven,owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer
0,2007,0.081139,1.0,0,0,0,0,1,0,1,0,1,0
1,2007,-0.347689,1.0,0,0,0,0,1,0,1,0,1,0
2,2012,0.724381,1.0,0,1,0,0,0,0,1,0,1,0
3,2017,-0.433455,1.0,0,0,0,0,1,0,1,0,1,0
4,2014,1.603479,2.0,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,2014,0.295553,2.0,0,1,0,0,0,0,1,0,1,0
4336,2014,0.295553,2.0,0,1,0,0,0,0,1,0,1,0
4337,2009,0.359877,2.0,0,0,0,0,1,0,1,0,1,0
4338,2016,0.509967,1.0,0,1,0,0,0,0,1,0,1,0
4339,2016,-0.562103,1.0,0,0,0,0,1,0,1,0,1,0

In [107]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [108]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [109]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3472 entries, 227 to 860
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          3472 non-null   int64
 1   km_driven                     3472 non-null   float64
 2   owner                         3457 non-null   float64
 3   fuel_CNG                      3472 non-null   int64
 4   fuel_Diesel                   3472 non-null   int64
 5   fuel_Electric                 3472 non-null   int64
 6   fuel_LPG                      3472 non-null   int64
 7   fuel_Petrol                   3472 non-null   int64
 8   transmission_Automatic        3472 non-null   int64
 9   transmission_Manual           3472 non-null   int64
 10  seller_type_Dealer            3472 non-null   int64
 11  seller_type_Individual        3472 non-null   int64
 12  seller_type_Trustmark Dealer  3472 non-null   int64
dtypes: float64(2), int64(11)
memory usage: 379.8 KB

In [110]:
model=LinearRegression()

In [113]:
# Drop rows with NaN values in x_train and y_train
x_train_clean = x_train.dropna()
y_train_clean = y_train.loc[x_train_clean.index]

model.fit(x_train_clean, y_train_clean)

LinearRegression()

In [115]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Drop rows with NaN values in x_test and align y_test
x_test_clean = x_test.dropna()
y_test_clean = y_test.loc[x_test_clean.index]

y_pred = model.predict(x_test_clean)
mae = mean_absolute_error(y_test_clean, y_pred)
mse = mean_squared_error(y_test_clean, y_pred)
r2 = r2_score(y_test_clean, y_pred)
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 221587.84518673603
Mean Squared Error: 182668337007.71722
R-squared: 0.3995721964541167